.inputStyle
{
 width: 240px;
 text-align: left;
 border: 0;
 background-color: white;
 box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
.inputStyle:hover
{
    background-color:rgba(155, 156, 165, 0.25);
 box-shadow: 0 1px 1px 0 rgba(43, 42, 42, 0.801), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
.rescheduling
{
    border:0;
    background-color: transparent;
}
.searchStyle
{
 width: 160px;
 text-align: center;
 border: 0;
 background-color: #ced3d6;
 border-radius: 8px;
}
.todayButtonStyle
{
 width:50px;
 text-align: center;
 border: 0;
 background-color: white;
 box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}